*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
config
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

log/gsm.log
log/gsmi.log

rsm-devconfig/
*.xml
*.swp

subject_map.csv
subject_map_exceptions.csv
gsm_config/
gsmi_config/

